@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(./Roboto-Regular.ttf);
}
* {
  box-sizing: border-box;
  --blue: #3b82f6;
  --white: rgba(255, 255, 255, 1);
  --black: rgb(0, 0, 0, 0.8);
  --gray: #e5e7eb;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 4fr;
  grid-template-rows: 1fr 6fr;
}
header {
  grid-column: 2 / 3;
  background: var(--white);
  padding: 5px 16px 0 32px;
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}
header .search-container {
  display: grid;
  grid-template-columns: max-content minmax(400px, 1fr);
  gap: 5px;
  justify-content: center;
  align-items: center;
}
header .search-container input {
  padding: 3px;
  border-radius: 500px;
  border: none;
  background: var(--gray);
}
header .search-container input:focus {
  outline: none;
  border: 2px solid var(--blue);
}
header .user-info {
  justify-self: center;
  display: grid;
  grid-template-columns: 50px 50px 200px;
  align-items: center;
}
header .user-info p {
  font-weight: 600;
}
.profile-pic {
  width: 40px;
  height: auto;
}
header .user-greeting {
  display: inline-grid;
  grid-template-columns: 50px 200px;
  grid-template-rows: 10px 10px;
  justify-items: start;
}
header .user-greeting .profile-pic {
  grid-row: 1 / 3;
}
header .user-greeting p {
  font-weight: 700;
}
header .action-links {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  column-gap: 10px;
  list-style: none;
  text-decoration: none;
}
header .action-links a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 80px;
  background: var(--blue);
  padding: 7px 7px;
  border-radius: 500px;
  color: var(--white);
}
.sidebar {
  grid-row: 1 / 3;
  background: var(--blue);
  color: var(--white);
  padding: 10px;
  display: grid;
  grid-template-rows: 100px 250px 100px;
  align-items: start;
}
.sidebar .header-container {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  gap: 10px;
}
.sidebar .header-container h2 {
  font-size: 1.5em;
}
.sidebar ul {
  list-style: none;
  display: grid;
  gap: 1em;
}
.sidebar li {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 15px;
  align-items: center;
}
.sidebar li span {
  font-size: 1.2em;
}
.content {
  background: var(--gray);
  padding: 1em;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.content .projects {
  grid-row: 1 / 3;
}
.content .projects .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

/* TODO: Fix the height to 100vh, remove scrollbars */
